* {
  padding: 0;
  margin: 0;
}
body {
  height: 100%;
  max-width: 100%;
	min-width: 100%;
  background-size: cover;
  position: absolute;
  margin: 0 auto;
}
li {
  list-style: none;
}
.box {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  margin: 20% 0 0 45%;
  transform-style: preserve-3d;
  transition: rotateX(13deg);
  animation: move 5s linear infinite;
}
.min_box {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50px;
  top: 50px;
  transform-style: preserve-3d;
}
.max_box {
  width: 400px;
  height: 400px;
  position: absolute;
  left: -100px;
  top: -100px;
  transform-style: preserve-3d;
}
.min_box li {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
}
.max_box li{
  width: 200px;
  height: 200px;
  position: absolute;
  left: 100px;
  top: 100px;
  opacity: 0.2;
  transition: all 1s ease;
}
.min_box li:nth-child(1), .max_box li:nth-child(1){
	background: url(../images/1.jpg) no-repeat 0 0;
  transform:translateZ(50px);
  background-size: 100%;
}
.min_box li:nth-child(2), .max_box li:nth-child(2){
	background: url(../images/2.jpg) no-repeat 0 0;
  transform:rotateX(180deg) translateZ(50px);
  background-size: 100%;
}
.min_box li:nth-child(3), .max_box li:nth-child(3){
	background: url(../images/3.jpg) no-repeat 0 0;
  transform:rotateX(-90deg) translateZ(50px);
  background-size: 100%;
}
.min_box li:nth-child(4), .max_box li:nth-child(4){
	background: url(../images/4.jpg) no-repeat 0 0;
  transform:rotateX(90deg) translateZ(50px);
  background-size: 100%;
}
.min_box li:nth-child(5), .max_box li:nth-child(5){
	background: url(../images/5.jpg) no-repeat 0 0;
  transform:rotateY(-90deg) translateZ(50px);
  background-size: 100%;
}
.min_box li:nth-child(6), .max_box li:nth-child(6){
	background: url(../images/6.jpg) no-repeat 0 0;
  transform:rotateY(90deg) translateZ(50px);
  background-size: 100%;
}
.max_box li:nth-child(1){
  transform: translateZ(100px);
}
.max_box li:nth-child(2){
  transform: rotateX(180deg) translateZ(100px);
}
.max_box li:nth-child(3){
  transform: rotateX(-90deg) translateZ(100px);
}
.max_box li:nth-child(4){
  transform: rotateX(90deg) translateZ(100px);
}
.max_box li:nth-child(5){
  transform: rotateY(-90deg) translateZ(100px);
}
.max_box li:nth-child(6){
  transform: rotateY(90deg) translateZ(100px);
}
.box:hover ol li{
  background-size: 100% 100%;
  width: 400px;
  height: 400px;
  opacity: .8;
  left: 0;
  top: 0;
}
.box:hover ol li:nth-child(1){
  transform: translateZ(300px);
}
.box:hover ol li:nth-child(2){
  transform: rotateX(180deg) translateZ(300px);
}
.box:hover ol li:nth-child(3){
  transform: rotateX(-90deg) translateZ(300px);
}
.box:hover ol li:nth-child(4){
  transform:rotateX(90deg) translateZ(300px);
}
.box:hover ol li:nth-child(5){
	transform:rotateY(-90deg) translateZ(300px);
}
.box:hover ol li:nth-child(6){
	transform:rotateY(90deg) translateZ(300px);
}

@keyframes move {
  0% {
    transform: rotateX(13deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(13deg) rotateY(360deg);
  }
}